.main
  .main__group--info 
    .main__group--info__left 
      %h2.main__group--info__left__name
        = @group.name
      %ul.main__group--info__left__name__member
        Member :
        %li.main__group--info__left__name__member__name
          - @group.users.each do |user|
            = user.name
    .main__group--info__edit
      = link_to edit_group_path(@group), class: "link" do
        .main__group--info__edit__btn
          Edit
  .main__message--list
    = render @messages
  .main__message--form
    = form_for [@group, @message] do |f|
      .main__message--form__field__input
        = f.text_field :content, class: 'main__message--form__field__input__text', placeholder: 'type a message'
        = f.label :image, class: 'main__message--form__field__input__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'main__message--form__field__input__image__file'
      = f.submit 'Send', class: 'submit--btn'