.side--bar
  .side--bar__user--name
    .side--bar__user--name__items
      %p.side--bar__user--name__items__name
        = current_user.name
      %ul.side--bar__user--name__items__icon
        %li.side--bar__user--name__items__icon__new
          = link_to new_group_path do
            = icon("far", "edit")
        %li.side--bar__user--name__items__icon__edit
          = link_to edit_user_path(current_user) do
            = icon("fas", "cog")
  .side--bar__group--list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group" do
          %p.side--bar__group--list__name
            = group.name
          %p.side--bar__group--list__text
            = group.show_last_message